/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

h1{    
    font-size: 45px;
    width: 80%;
    height: 30%;
    text-transform: uppercase;
}


/*  position: absolute; 
    top: 580px;
    left: 400px;
    transform: translate(-50% , -50%); */


.yellow{
    color: yellow;
    }

.green{
    color:green;
}


/* menu di navigazione  */


.main-menu{
    position: fixed;
    top: 10px;
    right: 10px;
}



li{
    display: inline-block;
    padding: 0 5px;
    background-color: white;
    border-radius: 50%;
    border: 1px black solid;
    width: 40px;
    text-align:center ;
    font-size: 25px;
    margin: 0 10px;

    
}

a{
    text-decoration: none;
    list-style-type: none;
    color: #000;
    padding: 0 3px;

}



/* prima sezione  */

.first-section{
    height: 100vh;
    background-color: red;
    
}

#first-shoe{
    height: 100%;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#superga{
    position: absolute;
    top: 250px;
    left: 400px;
    transform: translate(-50% , -50%);
}


.first-title{    
    position: absolute; 
    top: 620px;
    left: 400px;
    transform: translate(-50% , -50%);
}

/* seconda sezione  */

.second-section{
    height: 100vh;
    background-color: green;    
}

#second-shoe{
    height: 100%;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#th{
    position: absolute;
    top: 300px;
    left: 400px;
    transform: translate(-50% , -50%);
}

.second-title{    
    position: absolute; 
    top: 680px;
    left: 400px;
    transform: translate(-50% , -50%);
    
}


/* terza sezione  */

.third-section{
    height: 100vh;
    background-color: yellow;
    
}

#third-shoe{
    height: 100%;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#converse{
    position: absolute;
    top: 450px;
    left: 400px;
    transform: translate(-50% , -50%);
}


.third-title{    
    position: absolute; 
    top: 805px;
    left: 400px;
    transform: translate(-50% , -50%);
    
}