/* generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{    
    font-size: 45px;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 580px;
    left: 400px;
    transform: translate(-50% , -50%);
    text-transform: uppercase;
}

.yellow{
    color: yellow;
    }

.green{
    color:green;
}


/* prima sezione  */

.first-section{
    height: 100vh;
    background-color: red;
    
}

#first-shoe{
    height: 400px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#superga{
    position: absolute;
    top: 250px;
    left: 400px;
    transform: translate(-50% , -50%);
}

/* seconda sezione  */

.second-section{
    height: 100vh;
    background-color: green;    
}

#second-shoe{
    height: 400px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#th{
    position: absolute;
    top: 300px;
    left: 400px;
    transform: translate(-50% , -50%);
}

/* terza sezione  */

.third-section{
    height: 100vh;
    background-color: yellow;
    
}

#third-shoe{
    height: 400px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#converse{
    position: absolute;
    top: 300px;
    left: 400px;
    transform: translate(-50% , -50%);
}